@charset "utf-8";
@import url(../css/html5reset-1.6.1.css); /*reset css*/

/* global */
.inner {
    display: block;
    width: 80%;
    max-width: 1024px;
    margin: 0 auto;
}
.inner:after {
  content: "";
  clear: both;
  display: block;
}
.wide_inner {
    width: calc(100% - 60px);
    padding: 0 30px;
}
.eng {
    font-family: Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}
.section_title {
    display: block;
    color: #707070;
    text-align: center;
    margin: 80px auto 100px;
}
.section_title i {
    display: block;
    margin: 0 auto 50px;
    font-size: 44px;
    line-height: 1.0em;
}
.section_title h1 {
    font-size: 36px;
    line-height: 1.33em;
}
.wave {
    display: flex;
    width: 100%;
    height: 200px;
    transform: rotateX(180deg);
    justify-content: center;
	align-items: center;
    position: relative;
}
.wave::after {
    content: '';
    background-size: cover;
    position: absolute;
    top: 0;
    width: 100%;
    height: 200px;
}

body {
    font-family: 'ヒラギノ角ゴ Pro W6', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
    font-weight: 600;
    color: #333333;
    min-width: 1200px; /* for pc */
}

/* header */
header {
    display: block;
    width: 100%;
    height: 120px;
    background: transparent;
    position: sticky;
    top: 80px;
    z-index: 100;
    color: #ffffff;
}
header .logo {
    display: block;
    position: absolute;
    top: 10px;
}
header .logo #logo_svg {
    display: inline-block;
    width: 100px;
    height: auto;
    vertical-align: middle;
    margin-right: 30px;
}
header .logo p {
    display: inline-block;
    font-size: 44px;
    line-height: 1.0em;
    vertical-align: middle;
}
header .tab_menu {
    display: block;
    position: absolute;
    right: 130px;
    bottom: 10px;
    list-style-type: none;
}
header .tab_menu li {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 1px;
    cursor: pointer;
    font-size: 18px;
    line-height: 1.3em;
    vertical-align: top;
}
header .tab_menu li#language {
    cursor: default;
    /*margin-right: -129px;*/   /*tri_btnクリックで切替*/
}
header .tab_menu li:last-of-type {
    margin-right: 0;
}
header .tab_menu li i {
    margin-right: 5px;
    text-align: center;
}
header .tab_menu li:first-of-type i#lang_btn {
    cursor: pointer;
    width: 24px;
    /*transform: rotate(180deg);*/  /*tri_btnクリックで切替*/
}

header .lang_menu {
    display: none;  /*tri_btnクリックで切替*/
    /*display: block;*/
    list-style: none;
    margin-top: 10px;
}
header .lang_menu li {
    display: inline-block;
    font-size: 12px;
    line-height: 1.0em;
    margin: 0;
    vertical-align: top;
}
header .lang_menu li a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
header .lang_menu li img {
    display: inline-block;
    height: 12px;
    margin-right: 5px;
    vertical-align: top;
}
header .lang_menu li p {
    display: inline-block;
    vertical-align: top;
}
header .lang_menu li::after {
    content: '';
    display: inline-block;
    width: 2px;
    height: 12px;
    margin: 0 10px;
    border-radius: 1px;
    background-color: #ffffff;
    vertical-align: top;
}
header .lang_menu li:last-child::after {
    display: none;
}

header .toggle_btn {
    display: block;
    width: 50px;
    height: 40px;
    position: absolute;
    top: 40px;
    right: 30px;
    cursor: pointer;
}
header .toggle_btn span {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background: #ffffff;
    border-radius: 0.5em;
}
header .toggle_btn span:nth-child(1) {
    top: 0px;
}
header .toggle_btn span:nth-child(2) {
    top: 18px;
}
header .toggle_btn span:nth-child(3) {
    top: 36px;
}

.global_menu {
    display: none;
}

/* top */
.top {
    display: block;
    width: 100%;
    height: 100vh;
    margin-top: -120px;
    background-image: url(../img/top.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.top .top_title {
    display: block;
    width: 500px;
    height: 200px;
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 250px);
    text-align: center;
    color: #ffffff;
}
.top .top_title p {
    font-size: 24px;
    line-height: 1.83em;
}
.top .top_title h1 {
    font-size: 70px;
    line-height: 1.43em;
}

/* top - today */
.today {
    display: block;
    width: 100%;
    height: 200px;
    background-color: rgb(184, 234, 247, 0.6);
    position: absolute;
    bottom: 0;
    color: #03459D;
    font-size: 24px;
    line-height: 1.0em;
}
.today h1 {
    display: block;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 29px;
    margin-left: 30px;
}
.today h1 i {
    margin-right: 10px;
}
.today p, .today a {
    margin-left: 50px;
}
.today a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}
.today a:hover{
    color: #ffffff; /*todo fix*/
}
.today a i {
    margin-left: 12px;
}
.today span {
    display: block;
    width: calc(100% - 30px);
    height: 2px;
    background: #03459D;
    border-radius: 1px;
    margin-bottom: 24px;
}
.today .wide_inner {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row no-wrap;
}
.today_time, .today_ticket, .today_schedule {
    height: 200px;
}
.today_time, .today_ticket {
    width: calc((100% + 60px)/4);
}
.today_schedule {
    width: calc((100% + 60px)/2);
}
.today_schedule span {
    width: 100%;
}

/* Recommend */
.recommend {
    background-color:#ffffff;
}
.recommend .inner {
    padding-top: 100px;
    padding-bottom: 150px;
}
.recommend .recommend_contents {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row no-wrap;
}
.recommend .recommend_item {
    width: 33.3%;
    text-align: center;
}
.recommend .recommend_item img, .recommend .recommend_item div {
    display: block;
    width: calc(100% - 41px);
    max-width: 300px;
}
.recommend .recommend_item img {
    height: 200px;
    border-radius: 30px;
}
.recommend_item:nth-child(2) img, .recommend_item:nth-child(2) div {
    margin: 0 auto;
}
.recommend_item:nth-child(3) img, .recommend_item:nth-child(3) div {
    margin: 0 0 0 auto;
}
.recommend .recommend_item div {
    margin-top: 10px;
}
.recommend .recommend_item div h1 {
    font-size: 18px;
    line-height: 1.33em;
    font-weight: 300;
}
.recommend .recommend_item div h1::after {
    content: '';
    display: inline-block;
    background-image : radial-gradient(circle farthest-side, #119898, #119898 33.3%, transparent 33.3%, transparent);
    background-size: 12px 12px;
    background-position: left bottom;
    background-repeat: repeat-x;
    width: 100%;
    height: 12px;
}
.recommend .recommend_item div h2 {
    font-size: 24px;
    line-height: 1.5em;
    margin-top: 8px;
}

/* News */
.news .wave {
    background: #ffffff;
}
.news .wave::after {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201366%20768%22%3E%20%3Cdefs%3E%20%3Cstyle%3E%20.cls-1%20%7B%20fill-rule%3A%20evenodd%3B%20%7D%20%3C%2Fstyle%3E%20%3C%2Fdefs%3E%20%3Cpath%20id%3D%22wave%22%20fill%3D%22%23B3DEE3%22%20class%3D%22cls-1%22%20d%3D%22M0%2C0H1366V135c-44.96-13.366-87.45%2C32.711-128%2C40-42.68%2C7.673-80.28-34.815-119-42-44.42-8.244-80.92%2C34.711-120%2C42-61.087%2C11.392-77.81-54.2-140-42-39.184%2C7.686-73.14%2C50.735-120%2C42-40.605-7.569-65.282-45.947-111-43-49.337%2C3.18-80.683%2C54.045-132%2C43-39.166-8.43-60.547-35.627-102-43-40.316-7.171-78.27%2C35.071-113%2C43-47.453%2C10.834-84.554-35.317-126-43C96.594%2C121.174%2C74.494%2C190.469%2C0%2C171V0Z%22%2F%3E%3C%2Fsvg%3E');
}
.news {
    background-color: #B3DEE3;
}

/* Model */
.model .wave {
    background: #B3DEE3;
}
.model .wave::after {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201366%20768%22%3E%20%3Cdefs%3E%20%3Cstyle%3E%20.cls-1%20%7B%20fill-rule%3A%20evenodd%3B%20%7D%20%3C%2Fstyle%3E%20%3C%2Fdefs%3E%20%3Cpath%20id%3D%22wave%22%20fill%3D%22%23ffffff%22%20class%3D%22cls-1%22%20d%3D%22M0%2C0H1366V135c-44.96-13.366-87.45%2C32.711-128%2C40-42.68%2C7.673-80.28-34.815-119-42-44.42-8.244-80.92%2C34.711-120%2C42-61.087%2C11.392-77.81-54.2-140-42-39.184%2C7.686-73.14%2C50.735-120%2C42-40.605-7.569-65.282-45.947-111-43-49.337%2C3.18-80.683%2C54.045-132%2C43-39.166-8.43-60.547-35.627-102-43-40.316-7.171-78.27%2C35.071-113%2C43-47.453%2C10.834-84.554-35.317-126-43C96.594%2C121.174%2C74.494%2C190.469%2C0%2C171V0Z%22%2F%3E%3C%2Fsvg%3E');
}
.model {
    background: #ffffff;
}
.model .inner {
    padding-top: 100px;
    padding-bottom: 150px;
}
.model .model_contents {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row no-wrap;
}
.model .model_item {
    width: 33.3%;
    text-align: center;
}
.model .model_item img, .model .model_item h1 {
    display: block;
    width: calc(100% - 41px);
    max-width: 300px;
}
.model .model_item img {
    height: 200px;
    border-radius: 30px;
}
.model_item:nth-child(2) img, .model_item:nth-child(2) h1 {
    margin: 0 auto;
}
.model_item:nth-child(3) img, .model_item:nth-child(3) h1 {
    margin: 0 0 0 auto;
}
.model .model_item h1 {
    margin-top: 9px;
    font-size: 24px;
    line-height: 1.0em;
    font-weight: 600;
}
.model .model_item h1::before {
    content: '';
    display: inline-block;
    background-image : radial-gradient(circle farthest-side, #119898, #119898 33.3%, transparent 33.3%, transparent);
    background-size: 12px 12px;
    background-position: left -4px;
    background-repeat: repeat-x;
    width: 100%;
    height: 12px;
}
.model .model_item h1::after {
    content: '';
    display: inline-block;
    background-image : radial-gradient(circle farthest-side, #119898, #119898 33.3%, transparent 33.3%, transparent);
    background-size: 12px 12px;
    background-position: left bottom;
    background-repeat: repeat-x;
    width: 100%;
    height: 12px;
}

/* Info */
.info .wave {
    background: #ffffff;
}
.info .wave::after {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201366%20768%22%3E%20%3Cdefs%3E%20%3Cstyle%3E%20.cls-1%20%7B%20fill-rule%3A%20evenodd%3B%20%7D%20%3C%2Fstyle%3E%20%3C%2Fdefs%3E%20%3Cpath%20id%3D%22wave%22%20fill%3D%22%23D1F0F4%22%20class%3D%22cls-1%22%20d%3D%22M0%2C0H1366V135c-44.96-13.366-87.45%2C32.711-128%2C40-42.68%2C7.673-80.28-34.815-119-42-44.42-8.244-80.92%2C34.711-120%2C42-61.087%2C11.392-77.81-54.2-140-42-39.184%2C7.686-73.14%2C50.735-120%2C42-40.605-7.569-65.282-45.947-111-43-49.337%2C3.18-80.683%2C54.045-132%2C43-39.166-8.43-60.547-35.627-102-43-40.316-7.171-78.27%2C35.071-113%2C43-47.453%2C10.834-84.554-35.317-126-43C96.594%2C121.174%2C74.494%2C190.469%2C0%2C171V0Z%22%2F%3E%3C%2Fsvg%3E');
}
.info {
    background: #D1F0F4;
}
.info .inner {
    padding-top: 100px;
    padding-bottom: 150px;
}
.info .info_contents {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row no-wrap;
}
.info .info_item {
    width: 50%;
    text-align: center;
}
.info .info_item div {
    display: block;
    width: calc(100% - 41px);
    max-width: 480px;
    height: 300px;
    border-radius: 30px;
    text-align: center;
    color: #ffffff;
    background-size: cover;
    position: relative;
}
.info .info_item:nth-child(1) div::after {
    display: block;
    content: '';
    width: 100%;
    height: 300px;
    background-color: rgb(0, 0, 0, 0.25);
    border-radius: 30px;
}
.info_item:nth-child(1) div {
    background-image: url(../img/info_1.png);
}
.info_item:nth-child(2) div {
    background-image: url(../img/info_2.jpg);
    margin: 0 0 0 auto;
}
.info .info_item div a {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    font-size: 24px;
    line-height: 1.0em;
    font-weight: 600;
    position: absolute;
    padding: 206px 0 70px;
}
.info .info_item div a:visited {
    color: inherit;
}

/* Access */
.access .wave {
    background: #D1F0F4;
}
.access .wave::after {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201366%20768%22%3E%20%3Cdefs%3E%20%3Cstyle%3E%20.cls-1%20%7B%20fill-rule%3A%20evenodd%3B%20%7D%20%3C%2Fstyle%3E%20%3C%2Fdefs%3E%20%3Cpath%20id%3D%22wave%22%20fill%3D%22%23ffffff%22%20class%3D%22cls-1%22%20d%3D%22M0%2C0H1366V135c-44.96-13.366-87.45%2C32.711-128%2C40-42.68%2C7.673-80.28-34.815-119-42-44.42-8.244-80.92%2C34.711-120%2C42-61.087%2C11.392-77.81-54.2-140-42-39.184%2C7.686-73.14%2C50.735-120%2C42-40.605-7.569-65.282-45.947-111-43-49.337%2C3.18-80.683%2C54.045-132%2C43-39.166-8.43-60.547-35.627-102-43-40.316-7.171-78.27%2C35.071-113%2C43-47.453%2C10.834-84.554-35.317-126-43C96.594%2C121.174%2C74.494%2C190.469%2C0%2C171V0Z%22%2F%3E%3C%2Fsvg%3E');
}
.access {
    background: #ffffff;
}

/* Charge */
.charge .wave {
    background: #ffffff;
}
.charge .wave::after {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201366%20768%22%3E%20%3Cdefs%3E%20%3Cstyle%3E%20.cls-1%20%7B%20fill-rule%3A%20evenodd%3B%20%7D%20%3C%2Fstyle%3E%20%3C%2Fdefs%3E%20%3Cpath%20id%3D%22wave%22%20fill%3D%22%23B6DEF7%22%20class%3D%22cls-1%22%20d%3D%22M0%2C0H1366V135c-44.96-13.366-87.45%2C32.711-128%2C40-42.68%2C7.673-80.28-34.815-119-42-44.42-8.244-80.92%2C34.711-120%2C42-61.087%2C11.392-77.81-54.2-140-42-39.184%2C7.686-73.14%2C50.735-120%2C42-40.605-7.569-65.282-45.947-111-43-49.337%2C3.18-80.683%2C54.045-132%2C43-39.166-8.43-60.547-35.627-102-43-40.316-7.171-78.27%2C35.071-113%2C43-47.453%2C10.834-84.554-35.317-126-43C96.594%2C121.174%2C74.494%2C190.469%2C0%2C171V0Z%22%2F%3E%3C%2Fsvg%3E');
}
.charge {
    background: #B6DEF7;
}
