@charset "utf-8";
@import url(../css/html5reset-1.6.1.css); /*reset css*/

/* global */
.inner {
    display: block;
    width: 80%;
    max-width: 1024px;
    margin: 0 auto;
}
.inner:after {
  content: "";
  clear: both;
  display: block;
}
.wide_inner {
    width: calc(100% - 60px);
    padding: 0 30px;
}
.eng {
    font-family: Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}
.section_title {
    display: block;
    color: #707070;
    text-align: center;
    margin: 80px auto 100px;
}
.section_title i {
    display: block;
    margin: 0 auto 50px;
    font-size: 44px;
    line-height: 1.0em;
}
.section_title h1 {
    font-size: 36px;
    line-height: 1.33em;
}
.wave {
    display: flex;
    width: 100%;
    height: 200px;
    transform: rotateX(180deg);
    justify-content: center;
	align-items: center;
    position: relative;
}
.wave::after {
    content: '';
    background-size: contain;
    background-repeat: repeat-x;
    position: absolute;
    top: 0;
    width: 100%;
    height: 200px;
}

body {
    font-family: 'ヒラギノ角ゴ Pro', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
    font-weight: 600;
    color: #333333;
    min-width: 1200px; /* for pc */
}

/* header */
header {
    display: block;
    width: 100%;
    height: 120px;
    background: transparent;
    position: sticky;
    top: 80px;
    z-index: 1000;
    color: #ffffff;
    transition: all 0.5s 0s ease;
}
header.fixed {
    background-color: #119898;
    top: 0;
}
header .logo {
    display: block;
    position: absolute;
    top: 10px;
    z-index: 1001;
}
header .logo #logo_svg {
    display: inline-block;
    width: 100px;
    height: auto;
    vertical-align: middle;
    margin-right: 30px;
}
header .logo p {
    display: inline-block;
    font-size: 44px;
    line-height: 1.0em;
    vertical-align: middle;
}
header .tab_menu {
    display: block;
    position: absolute;
    right: 130px;
    bottom: 10px;
    list-style-type: none;
    z-index: 1001;
}
header .tab_menu li {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 1px;
    cursor: pointer;
    font-size: 18px;
    line-height: 1.3em;
    vertical-align: top;
}
header .tab_menu li#language {
    cursor: default;
    margin-right: -129px;
}
header .tab_menu li:last-of-type {
    margin-right: 0;
}
header .tab_menu li i {
    margin-right: 5px;
    text-align: center;
}
header .tab_menu li:first-of-type i#lang_btn {
    cursor: pointer;
    width: 24px;
}
header .tab_menu li:first-of-type i#lang_btn.open {
    transform: rotate(180deg);
}
header .tab_menu li a {
    text-decoration: none;
    color: inherit;
}
header .tab_menu li a:visited {
    color: inherit;
}

header .lang_menu {
    visibility: hidden;
    opacity: 0.0;
    list-style: none;
    margin-top: 10px;
    transition: all 0.5s 0s ease;
}
header .lang_menu.open {
    visibility: visible;
    opacity: 1.0;
}
header .lang_menu li {
    display: inline-block;
    font-size: 12px;
    line-height: 1.0em;
    margin: 0;
    vertical-align: top;
}
header .lang_menu li a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
header .lang_menu li p {
    display: inline-block;
    vertical-align: top;
}
header .lang_menu li p span {
    display: inline-block;
    height: 12px;
    margin-right: 5px;
    vertical-align: top;
}
header .lang_menu li::after {
    content: '';
    display: inline-block;
    width: 2px;
    height: 12px;
    margin: 0 10px;
    border-radius: 1px;
    background-color: #ffffff;
    vertical-align: top;
}
header .lang_menu li:last-child::after {
    display: none;
}

header .toggle_btn {
    display: block;
    width: 50px;
    height: 40px;
    position: absolute;
    top: 40px;
    right: 30px;
    cursor: pointer;
    z-index: 1002;
}
header .toggle_btn span {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background: #ffffff;
    border-radius: 0.5em;
    transition: all 1.0s 0s ease;
}
header .toggle_btn span:nth-child(1) {
    top: 0px;
}
header .toggle_btn span:nth-child(2) {
    top: 18px;
}
header .toggle_btn span:nth-child(3) {
    top: 36px;
}
header .toggle_btn.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 50%;
}
header .toggle_btn.open span:nth-child(2) {
    width: 0%;
}
header .toggle_btn.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 50%;
}

/* global menu */
.global_menu {
    visibility: hidden;
    width: 100%;
    height: 100vh;
    top: -80px;
    left: 100%;
    background: #0C5772;
    position: absolute;
    z-index: 100;
    transition: all 1.0s 0s ease;
}
.global_menu.open {
    visibility: visible;
    left: 0%;
} 
.global_menu .inner {
    position: relative;
}
.global_menu ul li a {
    text-decoration: none;
    color: inherit;
}
.global_menu ul li a:visited {
    color: inherit;
}
.info_basic {
    display: inline-block;
    width: 33.3%;
    position: absolute;
    top: 350px;
}
.info_basic h1, .info_basic dl {
    float: left;
}
.info_basic h1 {
    display: block;
    font-size: 36px;
    line-height: 1.0em;
    margin-bottom: 41px;
}
.info_basic dl {
    font-size: 18px;
    line-height: 1.33em;
}
.info_basic dl dd {
    margin-bottom: 10px;
}
.info_ticket {
    display: flex;
    width: 66.7%;
    position: absolute;
    top: 300px;
    right: 0;
}
.info_ticket li {
    width: 50%;
}
.info_ticket li a {
    width: 50%;
    font-size: 18px;
    line-height: 1.0em;
    padding: 26px 30px;
    border: 5px solid #ffffff;
    text-align: center;
}
.info_menu {
    display: flex;
    width: 66.7%;
    position: absolute;
    top: 410px;
    right: 0;
}
.info_menu .info_menu_l, .info_menu .info_menu_r {
    display: inline-block;
    width: 50%;
}
.info_menu div {
    margin-bottom: 40px;
}
.info_menu h2 {
    margin-left: 1.0em;
    margin-bottom: 10px;
}
.info_menu a {
    font-size: 12px;
    line-height: 1.5em;
    margin-left: 2.0em;
}
.info_menu .info_menu_r .h_link {
    font-size: 24px;
    margin-left: 1.0em;
}

/* top */
.top {
    display: block;
    width: 100%;
    height: 100vh;
    margin-top: -120px;
    background-image: url(../img/top.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.top .top_title {
    display: block;
    width: 500px;
    height: 200px;
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 250px);
    text-align: center;
    color: #ffffff;
}
.top .top_title p {
    font-size: 24px;
    line-height: 1.83em;
}
.top .top_title h1 {
    font-size: 70px;
    line-height: 1.43em;
}

/* top - today */
.today {
    display: block;
    width: 100%;
    height: 200px;
    background-color: rgb(184, 234, 247, 0.6);
    position: absolute;
    bottom: 0;
    color: #03459D;
    font-size: 24px;
    line-height: 1.0em;
}
.today h1 {
    display: block;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 29px;
    margin-left: 30px;
}
.today h1 i {
    margin-right: 10px;
}
.today p, .today a {
    margin-left: 50px;
}
.today a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}
.today a:hover{
    color: #ffffff; /*todo fix*/
}
.today a i {
    margin-left: 12px;
}
.today span {
    display: block;
    width: calc(100% - 30px);
    height: 2px;
    background: #03459D;
    border-radius: 1px;
    margin-bottom: 24px;
}
.today .wide_inner {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row no-wrap;
}
.today_time, .today_ticket, .today_schedule {
    height: 200px;
}
.today_time, .today_ticket {
    width: calc((100% + 60px)/4);
}
.today_schedule {
    width: calc((100% + 60px)/2);
}
.today_schedule span {
    width: 100%;
}

/* Recommend */
.recommend {
    background-color:#ffffff;
}
.recommend .inner {
    padding-top: 100px;
    padding-bottom: 150px;
}
.recommend .recommend_contents {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row no-wrap;
}
.recommend .recommend_item {
    width: 33.3%;
    text-align: center;
}
.recommend .recommend_item img, .recommend .recommend_item div {
    display: block;
    width: calc(100% - 41px);
    max-width: 300px;
}
.recommend .recommend_item img {
    height: 200px;
    border-radius: 30px;
}
.recommend_item:nth-child(2) img, .recommend_item:nth-child(2) div {
    margin: 0 auto;
}
.recommend_item:nth-child(3) img, .recommend_item:nth-child(3) div {
    margin: 0 0 0 auto;
}
.recommend .recommend_item div {
    margin-top: 10px;
}
.recommend .recommend_item div h1 {
    font-size: 18px;
    line-height: 1.33em;
    font-weight: 300;
}
.recommend .recommend_item div h1::after {
    content: '';
    display: inline-block;
    background-image : radial-gradient(circle farthest-side, #119898, #119898 33.3%, transparent 33.3%, transparent);
    background-size: 12px 12px;
    background-position: left bottom;
    background-repeat: repeat-x;
    width: 100%;
    height: 12px;
}
.recommend .recommend_item div a {
    text-decoration: none;
    color: inherit;
    font-size: 24px;
    line-height: 1.5em;
    margin-top: 8px;
}
.recommend .recommend_item div a:visited {
    color: inherit;
}

/* News */
.news .wave {
    background: #ffffff;
}
.news .wave::after {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201024%20200%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill-rule%3Aevenodd%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22%E3%83%AC%E3%82%A4%E3%83%A4%E3%83%BC_2%22%20data-name%3D%22%E3%83%AC%E3%82%A4%E3%83%A4%E3%83%BC%202%22%3E%3Cg%20id%3D%22%E3%83%AC%E3%82%A4%E3%83%A4%E3%83%BC_1-2%22%20data-name%3D%22%E3%83%AC%E3%82%A4%E3%83%A4%E3%83%BC%201%22%3E%3Cpath%20fill%3D%22%23B3DEE3%22%20class%3D%22cls-1%22%20d%3D%22M0%2C0V199.89a115.28%2C115.28%2C0%2C0%2C0%2C25.64-1.74c49.46-9%2C103.51-56.81%2C160.93-48.69%2C59%2C8.35%2C89.49%2C39.15%2C145.27%2C48.69%2C73.08%2C12.51%2C117.73-45.09%2C188-48.69%2C65.11-3.33%2C100.26%2C40.12%2C158.09%2C48.69C744.66%2C208%2C793%2C159.3%2C848.82%2C150.6c79.76-12.44%2C107%2C46.53%2C175.18%2C49V0Z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E')
}
.news {
    background-color: #B3DEE3;
}
.news .inner {
    padding-top: 100px;
    padding-bottom: 150px;
}
.news .news_contents {
    display: block;
    width: 80%;
    background: #ffffff;
    padding: 200px 10%;
    font-weight: 300;
}
.news .news_contents dl {
    display: block;
    width: 80%;
    margin: 0 auto;
    background: #ffffff;
    overflow: hidden;
}
.news .news_contents dl::after {
    content: "";
    clear: both;
    display: block;
}
.news .news_contents dt {
    display: block;
    font-size: 24px;
    line-height: 1.0em;
    padding: 8px 18px;
    color: #ffffff;
    background-color: #26AFD1;
    border-radius: 1.0em;
    float: left;
    clear: left;
    margin-right: 0;
    margin-bottom: 20px;
}
.news .news_contents dd {
    display: inline-block;
    font-size: 24px;
    line-height: 1.5em;
    height: 44px;
    margin-bottom: 20px;
    margin-left: 50px;
    border-bottom: 1px solid #333333;
}
.news_contents dt:last-of-type, .news_contents dd:last-of-type {
    margin-bottom: 0;
}
.news .news_contents a {
    display: block;
    margin-top: 20px;
    float: right;
    text-decoration: none;
    color: inherit;
    font-size: 24px;
    line-height: 1.5em;
}
.news .news_contents a:visited{
    color: inherit;
}
.news .news_contents a::after {
    display: block;
    width: 100%;
    content: '';
    background: transparent;
    height: 1.5em;
    float: none;
}

/* Model */
.model .wave {
    background: #B3DEE3;
}
.model .wave::after {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201024%20200%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill-rule%3Aevenodd%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22%E3%83%AC%E3%82%A4%E3%83%A4%E3%83%BC_2%22%20data-name%3D%22%E3%83%AC%E3%82%A4%E3%83%A4%E3%83%BC%202%22%3E%3Cg%20id%3D%22%E3%83%AC%E3%82%A4%E3%83%A4%E3%83%BC_1-2%22%20data-name%3D%22%E3%83%AC%E3%82%A4%E3%83%A4%E3%83%BC%201%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20class%3D%22cls-1%22%20d%3D%22M0%2C0V199.89a115.28%2C115.28%2C0%2C0%2C0%2C25.64-1.74c49.46-9%2C103.51-56.81%2C160.93-48.69%2C59%2C8.35%2C89.49%2C39.15%2C145.27%2C48.69%2C73.08%2C12.51%2C117.73-45.09%2C188-48.69%2C65.11-3.33%2C100.26%2C40.12%2C158.09%2C48.69C744.66%2C208%2C793%2C159.3%2C848.82%2C150.6c79.76-12.44%2C107%2C46.53%2C175.18%2C49V0Z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E')
}
.model {
    background: #ffffff;
}
.model .inner {
    padding-top: 100px;
    padding-bottom: 150px;
}
.model .model_contents {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row no-wrap;
}
.model .model_item {
    width: 33.3%;
    text-align: center;
}
.model .model_item img, .model .model_item a {
    display: block;
    width: calc(100% - 41px);
    max-width: 300px;
}
.model .model_item img {
    height: 200px;
    border-radius: 30px;
}
.model_item:nth-child(2) img, .model_item:nth-child(2) a {
    margin: 0 auto;
}
.model_item:nth-child(3) img, .model_item:nth-child(3) a {
    margin: 0 0 0 auto;
}
.model .model_item a {
    margin-top: 9px;
    font-size: 24px;
    line-height: 1.0em;
    font-weight: 600;
    text-decoration: none;
    color: inherit;
}
.model .model_item a:visited {
    color: inherit;
}
.model .model_item a::before {
    content: '';
    display: inline-block;
    background-image : radial-gradient(circle farthest-side, #119898, #119898 33.3%, transparent 33.3%, transparent);
    background-size: 12px 12px;
    background-position: left -4px;
    background-repeat: repeat-x;
    width: 100%;
    height: 12px;
}
.model .model_item a::after {
    content: '';
    display: inline-block;
    background-image : radial-gradient(circle farthest-side, #119898, #119898 33.3%, transparent 33.3%, transparent);
    background-size: 12px 12px;
    background-position: left bottom;
    background-repeat: repeat-x;
    width: 100%;
    height: 12px;
}

/* Info */
.info .wave {
    background: #ffffff;
}
.info .wave::after {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201024%20200%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill-rule%3Aevenodd%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22%E3%83%AC%E3%82%A4%E3%83%A4%E3%83%BC_2%22%20data-name%3D%22%E3%83%AC%E3%82%A4%E3%83%A4%E3%83%BC%202%22%3E%3Cg%20id%3D%22%E3%83%AC%E3%82%A4%E3%83%A4%E3%83%BC_1-2%22%20data-name%3D%22%E3%83%AC%E3%82%A4%E3%83%A4%E3%83%BC%201%22%3E%3Cpath%20fill%3D%22%23D1F0F4%22%20class%3D%22cls-1%22%20d%3D%22M0%2C0V199.89a115.28%2C115.28%2C0%2C0%2C0%2C25.64-1.74c49.46-9%2C103.51-56.81%2C160.93-48.69%2C59%2C8.35%2C89.49%2C39.15%2C145.27%2C48.69%2C73.08%2C12.51%2C117.73-45.09%2C188-48.69%2C65.11-3.33%2C100.26%2C40.12%2C158.09%2C48.69C744.66%2C208%2C793%2C159.3%2C848.82%2C150.6c79.76-12.44%2C107%2C46.53%2C175.18%2C49V0Z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E')
}
.info {
    background: #D1F0F4;
}
.info .inner {
    padding-top: 100px;
    padding-bottom: 150px;
}
.info .info_contents {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row no-wrap;
}
.info .info_item {
    width: 50%;
    text-align: center;
}
.info .info_item div {
    display: block;
    width: calc(100% - 41px);
    max-width: 480px;
    height: 300px;
    border-radius: 30px;
    text-align: center;
    color: #ffffff;
    background-size: cover;
    position: relative;
}
.info .info_item:nth-child(1) div::after {
    display: block;
    content: '';
    width: 100%;
    height: 300px;
    background-color: rgb(0, 0, 0, 0.25);
    border-radius: 30px;
}
.info_item:nth-child(1) div {
    background-image: url(../img/info_1.png);
}
.info_item:nth-child(2) div {
    background-image: url(../img/info_2.jpg);
    margin: 0 0 0 auto;
}
.info .info_item div a {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    font-size: 24px;
    line-height: 1.0em;
    font-weight: 600;
    position: absolute;
    padding: 206px 0 70px;
}
.info .info_item div a:visited {
    color: inherit;
}

/* Access */
.access .wave {
    background: #D1F0F4;
}
.access .wave::after {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201024%20200%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill-rule%3Aevenodd%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22%E3%83%AC%E3%82%A4%E3%83%A4%E3%83%BC_2%22%20data-name%3D%22%E3%83%AC%E3%82%A4%E3%83%A4%E3%83%BC%202%22%3E%3Cg%20id%3D%22%E3%83%AC%E3%82%A4%E3%83%A4%E3%83%BC_1-2%22%20data-name%3D%22%E3%83%AC%E3%82%A4%E3%83%A4%E3%83%BC%201%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20class%3D%22cls-1%22%20d%3D%22M0%2C0V199.89a115.28%2C115.28%2C0%2C0%2C0%2C25.64-1.74c49.46-9%2C103.51-56.81%2C160.93-48.69%2C59%2C8.35%2C89.49%2C39.15%2C145.27%2C48.69%2C73.08%2C12.51%2C117.73-45.09%2C188-48.69%2C65.11-3.33%2C100.26%2C40.12%2C158.09%2C48.69C744.66%2C208%2C793%2C159.3%2C848.82%2C150.6c79.76-12.44%2C107%2C46.53%2C175.18%2C49V0Z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E')
}
.access {
    background: #ffffff;
}
.access .inner {
    padding-top: 100px;
    padding-bottom: 150px;
}
.access .access_map {
    display: block;
    width: 100%;
    height: 500px;
    background: #707070;
}
.access .access_contents {
    display: flex;
    width: 80%;
    margin: 50px auto;
    color: #707070;
}
.access_contents_l, .access_contents_r {
    width: 50%;
}
.access_contents_l dl {
    font-size: 24px;
    line-height: 1.5em;
    font-weight: 300;
}
.access_contents_l dl dd {
    margin-bottom: 20px;
}
.access_contents_r dl {
    font-size: 18px;
    line-height: 1.33em;
}
.access_contents_r dl dt {
    color: #26AFD1;
}
.access_contents_r dl dt::before {
    display: inline;
    content: '●';
}
.access_contents_r dl dd {
    font-weight: 300;
    margin-bottom: 10px;
}
.access_contents_r dl dd:last-of-type {
    margin-bottom: 0;
}
.access_contents_r a {
    display: inline-block;
    margin-top: 10px;
    padding: 15px 21px;
    text-decoration: none;
    color: #ffffff;
    background-color: #26AFD1;
    border-radius: 2.0em;
}

/* Charge */
.charge .wave {
    background: #ffffff;
}
.charge .wave::after {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201024%20200%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill-rule%3Aevenodd%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22%E3%83%AC%E3%82%A4%E3%83%A4%E3%83%BC_2%22%20data-name%3D%22%E3%83%AC%E3%82%A4%E3%83%A4%E3%83%BC%202%22%3E%3Cg%20id%3D%22%E3%83%AC%E3%82%A4%E3%83%A4%E3%83%BC_1-2%22%20data-name%3D%22%E3%83%AC%E3%82%A4%E3%83%A4%E3%83%BC%201%22%3E%3Cpath%20fill%3D%22%23B6DEF7%22%20class%3D%22cls-1%22%20d%3D%22M0%2C0V199.89a115.28%2C115.28%2C0%2C0%2C0%2C25.64-1.74c49.46-9%2C103.51-56.81%2C160.93-48.69%2C59%2C8.35%2C89.49%2C39.15%2C145.27%2C48.69%2C73.08%2C12.51%2C117.73-45.09%2C188-48.69%2C65.11-3.33%2C100.26%2C40.12%2C158.09%2C48.69C744.66%2C208%2C793%2C159.3%2C848.82%2C150.6c79.76-12.44%2C107%2C46.53%2C175.18%2C49V0Z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E')
}
.charge {
    background: #B6DEF7;
}
.charge .inner {
    padding-top: 100px;
    padding-bottom: 150px;
}
.charge .charge_contents {
    display: flex;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.charge .charge_item {
    width: calc(50% - 50px);
    background: #ffffff;
    border-radius: 2.0rem;
}
.charge .charge_item:last-of-type {
    margin: 0 0 0 auto;
}
.charge .charge_item h1 {
    display: block;
    font-size: 24px;
    line-height: 1.0em;
    height: 1.0em;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #ffffff;
    background-color: #26AFD1;
    border-radius: 2.0rem;
}
.charge .charge_item dl {
    padding: 50px 30px;
}
.charge .charge_item dl dt {
    display: block;
    float: left;
    clear: left;
}
.charge .charge_item dl::after{
    content: "";
    clear: both;
    display: block;
}
.charge .charge_item dl dd {
    float: right;
    clear: right;
}
.charge .group_btn {
    display: block;
    width: 400px;
    text-align: center;
    font-size: 24px;
    line-height: 1.0em;
    height: 1.0em;
    padding: 23px 0;
    margin: 50px auto 0;

    text-decoration: none;
    color: #ffffff;
    background-color: #26AFD1;
    border-radius: 1.0em;
}
.charge .group_btn:visited {
    color: #ffffff;
}
/* banners */
.charge .charge_footer {
    display: block;
    width: 100%;
    padding: 50px 0;
}
.charge .charge_footer .banners {
    display: flex;
}
.banners .banner_item {
    width: 33.3%;
}
.banners .banner_item a {
    display: block;
    width: calc(100% - 41px);
    max-width: 300px;
    height: 100px;
    background: #707070;
    text-decoration: none;
}
.banner_item:nth-child(2) a {
    margin: 0 auto;
}
.banner_item:nth-child(3) a {
    margin: 0 0 0 auto;
}

/* footer */
footer {
    display: block;
    width: 100%;
    background: #0C5772;
    color: #ffffff;
    font-size: 24px;
    line-height: 1.0em;
}
footer .inner {
    padding-top: 100px;
    padding-bottom: 150px;
    position: relative;
}
/* page top button */
footer .page_top_btn {
    text-decoration: none;
    color: #ffffff;
    display: block;
    position: absolute;
    top: -30px;
    right: 0;
    background: #11AA23;
    text-align: center;

    font-size: 18px;
    line-height: 1.0em;
    font-weight: 300;
    padding: 6px 18px;
}
footer div {
    display: flex;
    width: calc(100% - 3.0em);
    margin: 0 auto;
    margin-bottom: 80px;
}
.footer_l {
    width: 40%;
    min-width: 360px;
}
.footer_r {
    width: 60%;
    min-width: 555px;
}
.footer_l dt, .footer_r dt {
    margin-bottom: 8px;
 }
.footer_l dd, .footer_r dd {
   margin-bottom: 40px;
}

footer ul {
    display: block;
    text-align: center;
    list-style: none;
    font-weight: 300;
}
footer ul li {
    display: inline-block;
    margin-left: 8px;
}
footer ul li::after {
    content: '';
    display: inline-block;
    width: 2px;
    height: 1.0em;
    margin-left: 14px;
    border-radius: 1px;
    background-color: #11AA23;
    vertical-align: top;
}
footer ul li:last-of-type::after {
    display: none;
}
footer ul li a {
    text-decoration: none;
    color: inherit;
}
footer ul li a:visited{
    color: inherit;
}
footer small {
    display: block;
    text-align: center;
    font-weight: 300;
    margin-top: 80px;
}
