@charset "utf-8";
@import url(../css/html5reset-1.6.1.css); /*reset css*/

/* global */
.inner {
    display: block;
    width: 80%;
    max-width: 1024px;
    margin: 0 auto;
}
.inner:after {
  content: "";
  clear: both;
  display: block;
}
.wide_inner {
    width: calc(100% - 60px);
    padding: 0 30px;
}
.eng {
    font-family: Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}
.section_title {
    display: block;
    color: #707070;
    text-align: center;
    margin: 80px auto 100px;
}
.section_title i {
    display: block;
    margin: 0 auto 50px;
    font-size: 44px;
    line-height: 1.0em;
}
.section_title h1 {
    font-size: 36px;
    line-height: 1.33em;
}

body {
    font-family: 'ヒラギノ角ゴ Pro W6', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
    font-weight: 600;
    color: #333333;
}

/* header */
header {
    display: block;
    width: 100%;
    height: 120px;
    background: transparent;
    position: sticky;
    top: 80px;
    z-index: 100;
    color: #ffffff;
}
header .logo {
    display: block;
    position: absolute;
    top: 10px;
}
header .logo #logo_svg {
    display: inline-block;
    width: 100px;
    height: auto;
    vertical-align: middle;
    margin-right: 30px;
}
header .logo p {
    display: inline-block;
    font-size: 44px;
    line-height: 1.0em;
    vertical-align: middle;
}
header .tab_menu {
    display: block;
    position: absolute;
    right: 130px;
    bottom: 10px;
    list-style-type: none;
}
header .tab_menu li {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 1px;
    cursor: pointer;
    font-size: 18px;
    line-height: 1.3em;
    vertical-align: top;
}
header .tab_menu li:first-of-type {
    cursor: default;
}
header .tab_menu li:last-of-type {
    margin-right: 0;
}
header .tab_menu li i {
    margin-right: 5px;
    text-align: center;
}
header .tab_menu li:first-of-type i#lang_btn {
    cursor: pointer;
    width: 24px;
}

header .lang_menu {
    display: none; /*tri_btnクリックで切替*/
    /*display: block;*/
    list-style: none;
    margin-top: 10px;
}
header .lang_menu li {
    display: inline-block;
    font-size: 12px;
    line-height: 1.0em;
    margin: 0;
    vertical-align: top;
}
header .lang_menu li a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
header .lang_menu li img {
    display: inline-block;
    height: 12px;
    margin-right: 5px;
    vertical-align: top;
}
header .lang_menu li p {
    display: inline-block;
    vertical-align: top;
}
header .lang_menu li::after{
    content: '';
    display: inline-block;
    width: 2px;
    height: 12px;
    margin: 0 10px;
    border-radius: 1px;
    background-color: #ffffff;
    vertical-align: top;
}

header .toggle_btn {
    display: block;
    width: 50px;
    height: 40px;
    position: absolute;
    top: 40px;
    right: 30px;
    cursor: pointer;
}
header .toggle_btn span {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background: #ffffff;
    border-radius: 0.5em;
}
header .toggle_btn span:nth-child(1) {
    top: 0px;
}
header .toggle_btn span:nth-child(2) {
    top: 18px;
}
header .toggle_btn span:nth-child(3) {
    top: 36px;
}

.global_menu {
    display: none;
}

/* top */
.top {
    display: block;
    width: 100%;
    height: 100vh;
    margin-top: -120px;
    background-image: url(../img/top.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.top .top_title {
    display: block;
    width: 500px;
    height: 200px;
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 250px);
    text-align: center;
    color: #ffffff;
}
.top .top_title p {
    font-size: 24px;
    line-height: 1.83em;
}
.top .top_title h1 {
    font-size: 70px;
    line-height: 1.43em;
}

/* top - today */
.today {
    display: block;
    width: 100%;
    height: 200px;
    background-color: rgb(184, 234, 247, 0.6);
    position: absolute;
    bottom: 0;
    color: #03459D;
    font-size: 24px;
    line-height: 1.0em;
}
.today h1 {
    display: block;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 29px;
    margin-left: 30px;
}
.today h1 i {
    margin-right: 10px;
}
.today p, .today a {
    margin-left: 50px;
}
.today a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}
.today a:hover{
    color: #ffffff; /*todo fix*/
}
.today a i {
    margin-left: 12px;
}
.today span {
    display: block;
    width: calc(100% - 30px);
    height: 2px;
    background: #03459D;
    border-radius: 1px;
    margin-bottom: 24px;
}
.today .wide_inner {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row no-wrap;
}
.today_time, .today_ticket, .today_schedule {
    height: 200px;
}
.today_time, .today_ticket {
    width: calc((100% + 60px)/4);
}
.today_schedule {
    width: calc((100% + 60px)/2);
}
.today_schedule span {
    width: 100%;
}

/* Recommend */
.recommend {
    background-color:#ffffff;
}
.recommend .inner {
    padding-top: 100px;
    padding-bottom: 150px;
}
.recommend .recommend_contents {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row no-wrap;
}
.recommend .recommend_item {
    width: 33.3%;
    text-align: center;
}
.recommend .recommend_item img, .recommend .recommend_item div {
    display: block;
    width: calc(100% - 41px);
    max-width: 300px;
}
.recommend .recommend_item img {
    max-height: 200px;
    min-height: 180px;
    border-radius: 30px;
}
.recommend_item:nth-child(2) img, .recommend_item:nth-child(2) div {
    margin: 0 auto;
}
.recommend_item:nth-child(3) img, .recommend_item:nth-child(3) div {
    margin: 0 0 0 auto;
}
.recommend .recommend_item div {
    margin-top: 10px;
}
.recommend .recommend_item div h1 {
    font-size: 18px;
    line-height: 1.33em;
    font-weight: 300;
}
.recommend .recommend_item div h1::after {
    content: '';
    display: inline-block;
    background-image : radial-gradient(circle farthest-side, #119898, #119898 33.3%, transparent 33.3%, transparent);
    background-size: 12px 12px;
    background-position: left bottom;
    background-repeat: repeat-x;
    width: 100%;
    height: 12px;
}
.recommend .recommend_item div h2 {
    font-size: 24px;
    line-height: 1.5em;
    margin-top: 8px;
}

